1. 여러 개의 파일(for문 사용)로드

In [1]:
import glob

surveys = glob.glob("./data/survey_*")
print(surveys)

['./data\\survey_person.csv', './data\\survey_site.csv', './data\\survey_survey.csv', './data\\survey_visited.csv']

In [3]:
import pandas as pd

list_surveys_df = []
for fp in surveys:
    df = pd.read_csv(fp)
    list_surveys_df.append(df)
print(len(list_surveys_df))

4

2. melt -> pivot_table 행/열 요소 변경 연습

In [6]:
survey2 = list_surveys_df[2]
survey2

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [10]:
survey2_melt = pd.melt(survey2, id_vars=["person", "quant"], var_name="status")
survey2_melt

   person quant   status   value
0    dyer   rad    taken  619.00
1    dyer   sal    taken  619.00
2    dyer   rad    taken  622.00
3    dyer   sal    taken  622.00
4      pb   rad    taken  734.00
5    lake   sal    taken  734.00
6      pb  temp    taken  734.00
7      pb   rad    taken  735.00
8     NaN   sal    taken  735.00
9     NaN  temp    taken  735.00
10     pb   rad    taken  751.00
11     pb  temp    taken  751.00
12   lake   sal    taken  751.00
13   lake   rad    taken  752.00
14   lake   sal    taken  752.00
15   lake  temp    taken  752.00
16    roe   sal    taken  752.00
17   lake   rad    taken  837.00
18   lake   sal    taken  837.00
19    roe   sal    taken  837.00
20    roe   rad    taken  844.00
21   dyer   rad  reading    9.82
22   dyer   sal  reading    0.13
23   dyer   rad  reading    7.80
24   dyer   sal  reading    0.09
25     pb   rad  reading    8.41
26   lake   sal  reading    0.05
27     pb  temp  reading  -21.50
28     pb   rad  reading    7.22
29    NaN   sal  reading    0.06
30    NaN  temp  reading  -26.00
31     pb   rad  reading    4.35
32     pb  temp  reading  -18.50
33   lake   sal  reading    0.10
34   lake   rad  reading    2.19
35   lake   sal  reading    0.09
36   lake  temp  reading  -16.00
37    roe   sal  reading   41.60
38   lake   rad  reading    1.46
39   lake   sal  reading    0.21
40    roe   sal  reading   22.50
41    roe   rad  reading   11.25

In [12]:
survey2_pt = survey2_melt.pivot_table(
    index=["person", "status"],
    columns="quant",
    values="value"
)
survey2_pt

quant               rad       sal   temp
person status
dyer   reading    8.810    0.1100    NaN
       taken    620.500  620.5000    NaN
lake   reading    1.825    0.1125  -16.0
       taken    794.500  768.5000  752.0
pb     reading    6.660       NaN  -20.0
       taken    740.000       NaN  742.5
roe    reading   11.250   32.0500    NaN
       taken    844.000  794.5000    NaN

3. ebola 데이터 조작

In [13]:
ebola = pd.read_csv("data/country_timeseries.csv")
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
ebola_melt = pd.melt(ebola, id_vars=["Date", "Day"])
ebola_melt

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
5     12/28/2014  281  Cases_Guinea  2706.0
6     12/27/2014  280  Cases_Guinea  2695.0
7     12/24/2014  277  Cases_Guinea  2630.0
8     12/21/2014  273  Cases_Guinea  2597.0
9     12/20/2014  272  Cases_Guinea  2571.0
10    12/18/2014  271  Cases_Guinea     NaN
11    12/14/2014  267  Cases_Guinea  2416.0
12     12/9/2014  262  Cases_Guinea     NaN
13     12/7/2014  260  Cases_Guinea  2292.0
14     12/3/2014  256  Cases_Guinea     NaN
15    11/30/2014  253  Cases_Guinea  2164.0
16    11/28/2014  251  Cases_Guinea     NaN
17    11/23/2014  246  Cases_Guinea  2134.0
18    11/22/2014  245  Cases_Guinea     NaN
19    11/18/2014  241  Cases_Guinea  2047.0
20    11/16/2014  239  Cases_Guinea  1971.0
21    11/15/2014  238  Cases_Guinea     NaN
22    11/11/2014  234  Cases_Guinea  1919.0
23    11/10/2014  233  Cases_Guinea     NaN
24     11/9/2014  232  Cases_Guinea  1878.0
25     11/8/2014  231  Cases_Guinea     NaN
26     11/4/2014  227  Cases_Guinea     NaN
27     11/3/2014  226  Cases_Guinea  1760.0
28     11/2/2014  225  Cases_Guinea  1731.0
29    10/31/2014  222  Cases_Guinea     NaN
...          ...  ...           ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN
1923   5/12/2014   51   Deaths_Mali     NaN
1924   5/10/2014   49   Deaths_Mali     NaN
1925    5/7/2014   46   Deaths_Mali     NaN
1926    5/5/2014   44   Deaths_Mali     NaN
1927    5/3/2014   42   Deaths_Mali     NaN
1928    5/1/2014   40   Deaths_Mali     NaN
1929   4/26/2014   35   Deaths_Mali     NaN
1930   4/24/2014   33   Deaths_Mali     NaN
1931   4/23/2014   32   Deaths_Mali     NaN
1932   4/22/2014   31   Deaths_Mali     NaN
1933   4/21/2014   30   Deaths_Mali     NaN
1934   4/20/2014   29   Deaths_Mali     NaN
1935   4/17/2014   26   Deaths_Mali     NaN
1936   4/16/2014   25   Deaths_Mali     NaN
1937   4/15/2014   24   Deaths_Mali     NaN
1938   4/14/2014   23   Deaths_Mali     NaN
1939   4/11/2014   20   Deaths_Mali     NaN
1940    4/9/2014   18   Deaths_Mali     NaN
1941    4/7/2014   16   Deaths_Mali     NaN
1942    4/4/2014   13   Deaths_Mali     NaN
1943    4/1/2014   10   Deaths_Mali     NaN
1944   3/31/2014    9   Deaths_Mali     NaN
1945   3/29/2014    7   Deaths_Mali     NaN
1946   3/28/2014    6   Deaths_Mali     NaN
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

In [16]:
variable_split = ebola_melt.variable.str.split("_")
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
5       [Cases, Guinea]
6       [Cases, Guinea]
7       [Cases, Guinea]
8       [Cases, Guinea]
9       [Cases, Guinea]
10      [Cases, Guinea]
11      [Cases, Guinea]
12      [Cases, Guinea]
13      [Cases, Guinea]
14      [Cases, Guinea]
15      [Cases, Guinea]
16      [Cases, Guinea]
17      [Cases, Guinea]
18      [Cases, Guinea]
19      [Cases, Guinea]
20      [Cases, Guinea]
21      [Cases, Guinea]
22      [Cases, Guinea]
23      [Cases, Guinea]
24      [Cases, Guinea]
25      [Cases, Guinea]
26      [Cases, Guinea]
27      [Cases, Guinea]
28      [Cases, Guinea]
29      [Cases, Guinea]
             ...
1922     [Deaths, Mali]
1923     [Deaths, Mali]
1924     [Deaths, Mali]
1925     [Deaths, Mali]
1926     [Deaths, Mali]
1927     [Deaths, Mali]
1928     [Deaths, Mali]
1929     [Deaths, Mali]
1930     [Deaths, Mali]
1931     [Deaths, Mali]
1932     [Deaths, Mali]
1933     [Deaths, Mali]
1934     [Deaths, Mali]
1935     [Deaths, Mali]
1936     [Deaths, Mali]
1937     [Deaths, Mali]
1938     [Deaths, Mali]
1939     [Deaths, Mali]
1940     [Deaths, Mali]
1941     [Deaths, Mali]
1942     [Deaths, Mali]
1943     [Deaths, Mali]
1944     [Deaths, Mali]
1945     [Deaths, Mali]
1946     [Deaths, Mali]
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [22]:
ebola_melt["Status"] = variable_split.str.get(0)
ebola_melt["Country"] = variable_split.str.get(1)
ebola_melt

            Date  Day      variable   value  Status Country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]